body{
  margin: 40px;
  padding: 40px;
}
p{
  text-align: center;
}
  .trth{
    color: blue;
    border:1px solid black;
    height: 30px;
    padding: 5px;
    margin: 10px;
    text-align: center;
  }
  td{
    border:1px solid black;
    height: 30px;
    padding: 5px;
    text-align: center;
  }
  table{
  border-collapse: collapse;
	margin: 0 auto;
  }

  .color-on{
      color: green;
    }
    .color-of{
      color: red;
    }
  .modal-input{
	margin:0 auto !important;
  border-radius: 8px !important;
  }
  div{
    margin: 0 auto;
    text-align:center;
  }
  .jumbotron{
    background-image: url(header.jpg);
    background-size: cover;
    height: 400px;

  }
  li{
    cursor: pointer;
  }

